<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\TaxApp_v2\Database\tax_app_db_v2.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>