<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\tax_app_db_v2.mdf;Integrated Security=True"
	providerName="System.Data.sqlclient" />
	</connectionStrings>
</configuration>